@media (min-width: 1350px) {

    body {
        display: grid;
        grid-template-columns: 15% 85%;
    }

    .main-nav {
        text-align: left;
        height: 122.5%;
    }

    .main-nav li {
        padding-left: 1.5rem;
        border-bottom: 0.109rem solid rgb(220, 220, 220);
    }

    .main-top-bar {
        box-sizing: border-box;
        padding: 0.80rem 2.25rem;
        position: absolute;
        top: 0;
        left: 15%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 85%;
    }

    .main-header__content {
        text-align: left;
    }

    .user-info {
        display: flex;
        text-align: right;
        position: relative;
        top: 0.75rem;
    }

    .user-info::after {
        content: "2";
        text-align: center;
        font-size: 0.875rem;
        color: white;
        height: 0.75rem;
        width: 0.75rem;
        border-radius: 50%;
        top: -0.25rem;
        right: 0;
        background-color: red;
        position: absolute;
    }

    .user-info #icon-language {
        height: 1.563rem;
        width: 1.563rem;
        position: relative;
        top: 0.063rem;
        left: 1.25rem;
    }

    .user-info .select-language {
        position: relative;
        bottom: 0.313rem;
    }

    .user-info span {
        position: relative;
        top: 0.375rem;
    }

    .user-info p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .main-content {
        grid-column: 2 / 3;
        position: relative;
        top: 7rem;
    }

    .video-section {
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .video-section__title {
        max-width: 94%;
    }

    .video-section__video video {
        width: 94%;
    }

    .main-footer {
        margin-left: 2rem;
        margin-top: 8rem;
        grid-column: 2 / 3;
    }

}
