/*Formatações CSS mais generalistas*/

:root {
    --navBarColor: #725C5C;
    --orangeTitle: #ED7839;
    --introRed: #FDF1EB;
    --lightGray: #ECECEC;
    --darkerGray: #4E4E4E;
    --lightBlue: #EAF1F2;
    --orangeLink: #F48F44;
    --borderColorDetail: #E7E7E7;
}

.invisible {
    display: none;
}

/*fw700 é a abreviação font-weight: 700*/

.fw700 {
    font-weight: 700;
}

/*font weight 900*/

.fw900 {
    font-weight: 900;
}

.italico {
    font-style: italic;
}

b {
    font-weight: bold;
}

.institutions-list li {
    list-style: normal;
}

.thin-gray-border {
    border: 1px solid var(--lightGray);
    border-radius: 5px;
}

li a {
    text-decoration: none;
}

.main-nav__title,
.main-header__content,
.video-section__title,
.video-section__small-info,
.discussions__share-ideas .content-title,
.create-topic #new-question,
.section-title,
.topic-was-created .content-title,
.video-section__btn {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.video-section__btn,
.submit-bar__detail img,
.submit-bar #send,
.topic-was-created .create-topic,
.interactive-container,
.create-topic-btn,
.question-expanded,
.summary__content {
    cursor: pointer;
}

.video-section__title,
.video-section__small-info,
.content-title {
    color: var(--orangeTitle);
}

.main-nav__link-list li a,
.main-header__content {
    color: var(--navBarColor);
}

.main-nav__link-list li:nth-child(5),
.main-top-bar,
.section-title {
    background-color: var(--introRed);
}

body,
.submit-bar #send,
.user-format h6,
.author-coautor-format h6,
.topic-was-created .create-topic,
.user-info .select-language {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.main-header__content h2,
#ISSN_number,
.user-info span p:first-child,
.user-info span p:first-child,
.video-section__small-info,
.video-section__content-block,
.discussions__content,
.above-waiting-author-detail a,
.author-coautor-format span {
    font-size: 14px;
}

.user-info span p:nth-child(2),
.institutions-list,
.question-author,
.user-format h6,
.author-coautor-format h6 {
    font-size: 12px;
}

/*-----------------------Demais formatações CSS---------------------------*/

.main-header {
    margin-bottom: 1rem;
}

.main-nav {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main-nav__title {
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    padding: 1.5rem 0;
    color: white;
    font-size: 30px;
}

.main-nav img {
    max-width: 100%;
}

.main-nav__link-list li {
    padding: 0.5rem 0;
    font-size: 15px;
    font-weight: 500;
}

.main-nav__link-list li:nth-child(5) {
    border-left: 5px solid orangered;
}

.main-top-bar {
    text-align: center;
}

.main-header__content h2+p {
    font-size: 22px;
}

.user-info {
    position: relative;
}

.user-info::after {
    content: "2";
    text-align: center;
    font-size: 14px;
    color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    bottom: 22px;
    margin-left: -10px;
    background-color: red;
    position: absolute;
}

.user-info #icon-language {
    height: 25px;
    width: 25px;
    position: relative;
    top: 4px;
    left: 1.65rem;
}

.user-info .select-language {
    position: relative;
    left: -10px;
    height: 40px;
    padding: 0 1rem 0 1.75rem;
    background: transparent;
    border: 1px solid #CCCCCC;
}

.user-info #profile-picture {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.resize-container-padding {
    padding: 0 2.5rem;
}

.video-section__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 1.75rem;
}

.video-section__info .video-section__btn:first-child {
    color: white;
    font-weight: 500;
}

.video-section__info .video-section__btn:first-child img {
    color: white;
    font-weight: 500;
    margin-right: 10px;
}

.video-section__btn {
    font-size: 16px;
    padding: 0.25rem 0.70rem;
    border: none;
    border-radius: 5px;
    background-color: var(--orangeTitle);
}


.video-section__small-info {
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 1rem;
}

.video-section__content-block {
    border: 1px solid #ECECEC;
    margin-top: 0.85rem;
}

.video-section__content-block__padding {
    padding: 1rem;
    position: relative;
}

.video-section__content-block__padding p,
.authors {
    margin-bottom: 7px;
}

.video-section__content-block__padding::after {
    content: "";
    background-color: #BFBFBF;
    height: 46%;
    width: 3px;
    right: 6px;
    top: 20px;
    position: absolute;
}

.video-section__content-block__padding::before {
    content: "";
    background-color: var(--borderColorDetail);
    height: 46%;
    width: 3px;
    right: 6px;
    bottom: 20px;
    position: absolute;
}

.authors {
    margin: 1.25rem 0 3rem;
}

.authors li {
    margin: 0.35rem 0;
}

.authors li:first-child {
    margin-bottom: 0.6rem;
}

.institutions-list {
    color: #5a5a5a;
    margin-left: 0.65rem;
}

.summary {
    margin: 30px 0;
}

.section-title {
    color: var(--darkerGray);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
}

.summary__content__padding,
.discussions__padding {
    padding: 15px;
}

.invisible-text {
    line-height: 22.75px;
    margin-bottom: 2.5rem;
}

.discussions__share-ideas {
    text-align: center;
}

.interaction-images img {
    margin: 1.75rem 1.25rem;
}

.discussions {
    margin-bottom: 4rem;
}

.create-topic-btn {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    vertical-align: middle;
    padding: 0.45rem 0.85rem;
    color: white;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    margin: 1.35rem 0;
}

.create-topic .discussions__content {
    text-align: center;
}

#new-question input,
.submit-bar {
    max-width: 1393.75px;
}

.create-topic #new-question label {
    color: var(--orangeTitle);
    display: block;
}

.create-topic #assunto {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-bottom: 1rem;
    display: block;
}

.limit-textarea {
    max-width: 100%;
}

#new-question__content {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    margin-bottom: -3px;
}

.submit-bar__detail {
    float: left;
    box-sizing: border-box;
    background-color: var(--lightBlue);
    display: inline-block;
    width: 80%;
    padding: 0.62rem 0 0.5rem 1rem;
}

.submit-bar__detail img {
    margin-left: 1.5%;
}

.submit-bar #send {
    border: none;
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    padding: 0.62rem 0 0.5rem 0;
    width: 20%;
    color: white;
}

.topic-was-created {
    margin-top: 1.5rem;
    text-align: center;
}

.topic-was-created .discussions__content {
    margin: 1rem 0;
}

.topic-was-created .content-title {
    font-size: 18px;
}

.topic-was-created a {
    color: var(--orangeLink);
    font-weight: 500;
}

.topic-was-created .create-topic {
    margin-top: 2rem;
    border-radius: 2px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    color: white;
    border: none;
    padding: 0.5rem 4rem;
}

.above-waiting-author-detail {
    text-align: center;
    position: relative;
    top: 120px;
    z-index: 10;
}

.above-waiting-author-detail p {
    color: #707070;
}

.above-waiting-author-detail a {
    color: var(--orangeTitle);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.waiting-author-detail {
    height: fit-content;
    width: 100%;
    background-color: #dddddd5c;
    filter: blur(2px);
}

.question-container,
.waiting-author-feedback {
    border: 1px solid var(--borderColorDetail);
    border-radius: 5px;
    margin: 1.5rem 0;
    padding: 17px 24px;
}

.question-author {
    font-weight: 500;
}

.question-author+p {
    margin: 1rem 0;
}

.question-interactions p {
    display: inline-block;
}

.question-interactions img:nth-child(2) {
    margin: 0 0 -5px 0.5rem;
}

.question-expanded {
    border: 1px solid var(--borderColorDetail);
    border-radius: 5px;
}

.question-expanded__top {
    border-radius: 5px;
    padding: 17px 24px;
}

.user-format {
    padding: 23px 18px;
}

.author-coautor-format {
    position: relative;
    background-color: #F8F8F8;
    border-bottom: 1px solid var(--borderColorDetail);
    border-top: 1px solid var(--borderColorDetail);
    padding: 23px 18px;
}

.author-coautor-format span {
    color: var(--orangeTitle);
    position: absolute;
    top: 12px;
    right: 20px;
}

.user-format h6,
.author-coautor-format h6 {
    display: inline-block;
    color: #5C5C5C;
}

.user-format p,
.author-coautor-format p {
    margin: 1rem 0 1.5rem;
}

.main-footer img {
    max-width: 100%;
}
